.flow-header {
    width: min(100%, var(--container-width));
    margin: 3.2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .flow-header__title {
        font-weight: 700;
        color: var(--color-text);
    }

    & .flow-header__description {
        max-width: 84rem;
        color: var(--color-muted);
    }
}