.plan-card {
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: center;
    column-gap: 2.4rem;
    width: 100%;
    min-height: 19.4rem;
    padding: 2.2rem 2.4rem;
    border: 0.1rem solid var(--color-background);
    border-radius: 1.2rem;
    background-color: var(--color-background-cards);
    cursor: pointer;
    

    & .plan-card__radio {
        width: 1.8rem;
        height: 1.8rem;
        /* margin-top: 3.4rem; */
        accent-color: var(--color-accent);
    }
}

/* .plan-card:not(:last-child) {
  margin-bottom: 2.8rem;
} */

.plan-card--selected {
    background-color: var(--color-bg-cards-active);
    border-color: #D7EDEF;
}
/* 
.plan-card__content {
    max-width: 58rem;
} */

.plan-card__title {
    margin-bottom: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-text);
}

.plan-card__label {
    display: block;
    font-weight: 700;
    color: var(--color-text);
}

.plan-card__description {
    line-height: 1.3;
    color: var(--color-text);
}